body{
      background-color: #ffffff;
}
.register{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.register .avatar {
  margin: 5px;
  background-color: #fa0000;
}
.register input{
  width: 100%;
}
.register form {
  width: 100%;
  margin-top: 15px;
}
.register submit {
  margin: 15px 0px 10px;
}

.root{
    height: "100vh";
}
.image{
  background-image: "url(https://source.unsplash.com/random)";
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
}